.nav-item > .current::before {
    content:"|";
    color: var(--muted-foreground);
    display: block;
    position: absolute;
    transform: translateX(-100%) scale(75%);
}

.nav-item>a:hover::before {
    content:"|";
    color: var(--foreground);
    display: block;
    position: absolute;
    transform: translateX(-100%) scale(75%);
}