::-webkit-scrollbar {
    width: 0.5em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: var(--radius);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border: 1px solid var(--muted-foreground);
    border-radius: var(--radius);
    height: 0.5em;
  }